.square {
  background: rgb(185, 226, 226);
  border: 1px solid chartreuse;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  width: 34px;
  line-height: 34px;
  margin-top: -1px;
  margin-left: -1px;
  padding: 0;
  text-align:center;
}

.board-row::after {
  clear:both;
  display: table;
  content: '';
}

.status {
  margin-bottom: 10px;
  
}

.game {
  display: flex;
  flex-direction: row;
}


.game-info {
  margin-left: 50px;
}

body {
  padding: 0;
  margin:20px;
  font-family: sans-serif;
}

